<footer class="d-flex px-5" style="background-color: #fef9f3;">
    <div class="container py-5 col-4">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-lg-12 col-xl-12">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
  
              <div class="text-center mb-4 pb-2">
                <img src="../../assets/images/126350430_3280078668782062_6909028163831112562_n.jpeg"
                  alt="Bulb" width="100" style="border-radius: 50% !important;">
              </div>
  
              <figure class="text-center mb-0">
                <blockquote class="blockquote">
                  <p class="pb-3">
                    <i class="fas fa-quote-left fa-xs text-primary"></i>
                    <span class="lead font-italic text-black">Ezzat Qubbaj</span>
                    <i class="fas fa-quote-right fa-xs text-primary"></i>
                  </p>
                </blockquote>
                <figcaption class="blockquote-footer mb-0">
                  Computer Systems Engineering
                </figcaption>
                <div id="linked-in"><a href="https://www.linkedin.com/in/ezzat-qubbaj-357257223/" target="_blank"><i class="fa-brands fa-linkedin"></i><p class="ms-3">view my LinkedIn</p></a></div>
              </figure>
  
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container py-5 col-4">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col col-lg-12 col-xl-12">
            <div class="card" style="border-radius: 15px;">
              <div class="card-body p-5">
    
                <div class="text-center mb-4 pb-2">
                  <img src="../../assets/images/279168064_5001827013238250_8378205753960323670_n.jpeg"
                    alt="Bulb" width="100" style="border-radius: 50% !important;">
                </div>
    
                <figure class="text-center mb-0">
                  <blockquote class="blockquote">
                    <p class="pb-3">
                      <i class="fas fa-quote-left fa-xs text-primary"></i>
                      <span class="lead font-italic text-black">Moath Hjjawi</span>
                      <i class="fas fa-quote-right fa-xs text-primary"></i>
                    </p>
                  </blockquote>
                  <figcaption class="blockquote-footer mb-0">
                    Computer Systems Engineering
                  </figcaption>
                  <div id="linked-in"><a href="https://www.linkedin.com/in/moath-hjjawi-87b88923b/" target="_blank"><i class="fa-brands fa-linkedin"></i><p class="ms-3">view my LinkedIn</p></a></div>
                </figure>
    
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container py-5 col-4">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-lg-12 col-xl-12">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
  
              <div class="text-center mb-4 pb-2">
                <img src="../../assets/images/321997093_3484245265131962_7845871476451400281_n.png"
                  alt="Bulb" width="100" style="border-radius: 50% !important;">
              </div>
  
              <figure class="text-center mb-0">
                <blockquote class="blockquote">
                  <p class="pb-3">
                    <i class="fas fa-quote-left fa-xs text-primary"></i>
                    <span class="lead font-italic text-black">Qutada Saleh</span>
                    <i class="fas fa-quote-right fa-xs text-primary"></i>
                  </p>
                </blockquote>
                <figcaption class="blockquote-footer mb-0">
                  Computer Systems Engineering
                </figcaption>
                <div id="linked-in"><a href="https://www.linkedin.com/in/qutada-saleh-59948620b" target="_blank"><i class="fa-brands fa-linkedin"></i><p class="ms-3">view my LinkedIn</p></a></div>
              </figure>
  
            </div>
          </div>
        </div>
      </div>
    </div>
</footer>