<div class="view container m-auto">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <p class="right">
              موقع مخمن (MOKHAMEN) هو موقع يعمل بتقنية الأنظمة الخبيرة (Expert Systems) لتنفيذ عملية تثمين العقارات من خلال إدخال المستخدم للقيم المطلوبة منه وحساب النتيجة باستخدام معادلات معينة داخل النظام.<br> <br>
            </p>
          </div>
          <div class="carousel-item">
            <p class="right">
              تتم عملية التثمين العقاري من خلال موقع مخمن (MOKHAMEN) الإلكتروني على شبكة الإنترنت عن طريق إدخال القيم المطلوبة في الحقول المخصصة لها ، ليقوم النظام باحتساب النتيجة النهائية وعرضها على المستخدم.<br> <br>
            </p>
          </div>
          <div class="carousel-item">
            <p class="right">
              عند الإجابة على جميع الأسئلة المطلوبة يقوم النظام بعدة عمليات لحساب السعر ، ويتم عرض سعر العقار للمستخدم(شقة أو منزل)، و تكون هذه هي النتيجة النهائية.<br> <br>
            </p>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
 <div class="row">
        
    <img  src="../../assets/images/House insurance, real estate or property protection, home security concept, house in businessman_.jpeg" />
    
</div>