*{
    margin: 0;
    padding: 0;
}
.row {
    flex: row;
}
.view {
    padding-top: 180px;
}
.row img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    width: 100vw;
    height: 800px;
}
.right {
    direction: rtl;
}
.view p{
    font-size: 20px;
    font-weight: 900;
    color: #000;
    width: 80%;
    margin: 10px auto;
    padding: 20px;
    text-shadow: 1px 1px rgb(222, 251, 248), 2px 2px rgb(125, 150, 176);
    line-height: 40px;
    word-spacing: 5px;
    background-color: rgba(192, 144, 127, 0.6);
    border-radius: 20px;
}